:root {
  --dark-teal: #00b290;
  --light-teal: #b1ffee;
  --light-peach: #ffebcd;
  --med-peach: #ffb8a0;
  --dark-peach: #ff7c4d;
}

body,
html {
  background-color: var(--light-teal);
  transition: all 0.4s ease;
}

.main-nav {
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-nav {
  margin: 0 auto;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.1;
    font-size: 0.8em;
  }
}

.nav-link {
  color: var(--dark-teal);
  font-size: 14px;
}

.nav-link:active {
  color: green;
}

.is-active {
  padding: 4px;
  background-color: white;
}

.nav-link:hover {
  color: var(--light-teal);
}

.bg-light {
  background-color: black !important;
}

.bg-dark {
  background-color: var(--dark-peach) !important;
}

.bg-dark .nav-link {
  color: var(--light-peach) !important;
}

.bg-dark .nav-link:hover {
  color: var(--light-teal) !important;
}

main {
  padding: 30px;
  /* background-color: var(--med-peach); */
}

.feat-card {
  border: 5px solid var(--light-teal);
  box-sizing: border-box;
  padding: 20px;
}

.feat-card img {
  width: 100px;
}
