:root {
  --dark-teal: #00b290;
  --light-teal: #b1ffee;
  --light-peach: #ffebcd;
  --med-peach: #ffb8a0;
  --dark-peach: #ff7c4d;
}

body,
html {
  background-color: var(--light-teal);
  transition: all 0.4s ease;
  color: #333;
  line-height: 1.3;
  font-family: Muli, sans-serif;
}

h1,
h2,
h3 {
  font-family: "Abril Fatface", Georgia, "Times New Roman", Times, serif;
}

.nav {
  align-items: center;
}

.header-logo {
  margin-left: 20px;
}

/* .main-nav {
  position: sticky;
  top: 0;
  z-index: 100;
} */

.navbar-nav {
  margin: 0 auto;
  /* max-width: 1200px; */
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    line-height: 1;
    font-size: 16px;
    width: 180px;
    padding: 10px 0px;
  }
}

.nav-link {
  color: var(--dark-teal);
  font-size: 16px;
  padding: 0.5rem 0rem;
  margin: 0 0.8rem;
}

.nav-link i {
  font-size: 35px;
}

.is-active {
  color: var(--dark-peach);
  border-bottom: 1px solid var(--dark-peach);
}

.nav-link:hover {
  color: var(--dark-peach);
}

.bg-light {
  background-color: #fff !important;
}

.bg-dark {
  background-color: var(--dark-peach) !important;
}

.bg-dark .nav-link {
  color: #fff !important;
  font-weight: 500;
}

.bg-dark .nav-link:hover {
  color: var(--light-teal) !important;
}

main {
  padding: 30px;
  /* background-color: var(--med-peach); */
}

.feat-card {
  border: 5px solid var(--light-teal);
  box-sizing: border-box;
  padding: 20px;
}

.feat-card img {
  width: 100px;
}
