:root {
  --dark-teal: #00b290;
  --light-teal: #b1ffee;
  --light-peach: #ffebcd;
  --med-peach: #ffb8a0;
  --dark-peach: #ff7c4d;
  --abril-font: "Abril Fatface", Georgia, "Times New Roman", Times, serif;
}

body,
html {
  background-color: var(--light-teal);
  transition: all 0.4s ease;
  color: #333;
  line-height: 1.3;
  font-family: Muli, sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--abril-font);
}

a,
a:hover {
  text-decoration: none;
}

a {
  color: var(--dark-teal);
}

a:hover {
  color: var(--dark-peach);
}

.nav {
  align-items: center;
}

.header-logo {
  margin-left: 20px;
}

.category-nav {
  position: sticky;
  top: 60px;
  z-index: 2000;
}

/* Not logged in */

@media screen and (max-width: 469px) {
  .category-nav.logged-out {
    top: 140px;
  }
}

@media screen and (min-width: 470px) and (max-width: 647px) {
  .category-nav.logged-out {
    top: 102px;
  }
}

/* Logged in */

@media screen and (max-width: 555px) {
  .category-nav.logged-in {
    top: 140px;
  }
}

@media screen and (min-width: 556px) and (max-width: 732px) {
  .category-nav.logged-in {
    top: 102px;
  }
}

.top-nav {
  position: sticky;
  top: 0;
  z-index: 2000;
  border-bottom: 1px dotted var(--light-peach);
}

.navbar-nav {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    line-height: 1;
    font-size: 16px;
    width: 180px;
    padding: 10px 0px;
  }
}

.nav-link {
  color: var(--dark-teal);
  font-size: 16px;
  padding: 0.5rem 0rem;
  margin: 0 0.8rem;
}

.category-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.category-button:focus {
  outline: none;
}

.is-active {
  color: var(--dark-peach);
  border-bottom: 1px solid var(--dark-peach);
}

.nav-link:hover {
  color: var(--dark-peach);
}

.bg-light {
  background-color: #fff !important;
}

.bg-dark {
  background-color: var(--dark-peach) !important;
}

.bg-dark .nav-link {
  color: #fff !important;
  font-weight: 500;
}

.bg-dark .nav-link:hover {
  color: var(--light-teal) !important;
}

input[type="submit"],
button.btn,
a.btn {
  background-color: var(--dark-teal);
  opacity: 1;
  border: 4px solid #333;
  border-radius: 0px;
  text-transform: uppercase;
  font-family: var(--abril-font);
  transform: translateY(0px);
  box-shadow: 0px 3px 3px #888;
  transition: transform 0.3s ease;
  color: #ffffff;
}

input[type="submit"]:hover,
button.btn:hover,
a.btn:hover {
  background-color: var(--dark-teal);
  border: 4px solid #333;
  transform: translateY(3px);
  box-shadow: 0 0 0 transparent;
}

.link-highlight {
  padding: 2px;
  color: var(--dark-teal);
  box-shadow: inset 0 -3px 0 -1px var(--med-peach);
  transition: box-shadow 0.15s ease-in-out;
}

.link-highlight:hover {
  color: var(--dark-teal);
  box-shadow: inset 0 -25px 0 -1px var(--med-peach);
}
